<include href="views/admin/base/head.htm"/>

<body class="datatables-editor-page" data-spy="scroll" data-target="#nav-spy" data-offset="300">

  <!-- Start: Theme Preview Pane -->
  <!-- End: Theme Preview Pane -->

  <!-- Start: Main -->
  <div id="main">

    <!-- Start: Header -->
<include href="views/admin/base/header.htm"/>

    <!-- Start: Sidebar -->
<include href="views/admin/base/sidebar.htm"/>

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

     

      <!-- Begin: Content -->
      <section id="content" class="table-layout animated fadeIn">

       

        <!-- begin: .tray-center -->
        <div class="tray tray-center">


          <div class="row">
		  	<div class="col-md-12">
              <div class="panel panel-visible" id="spy1">
                <div class="panel-heading">
                  <div class="panel-title hidden-xs">
                    <span>Ссылка для регистрации: </span><a href='{{@link}}'>{{@link}}</a></div>
                </div>
                <div class="panel-body pn">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end: .tray-center -->

      </section>
      <!-- End: Content -->

    </section>


  </div>
  <!-- End: Main -->

  <!-- BEGIN: PAGE SCRIPTS -->

  <!-- jQuery -->
  <script src="{{@BASE}}/ui/views/admin/vendor/jquery/jquery-1.11.1.min.js"></script>
  <script src="{{@BASE}}/ui/views/admin/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

  <!-- Datatables -->
  <script src="{{@BASE}}/ui/views/admin/vendor/plugins/datatables/media/js/jquery.dataTables.js"></script>

  <!-- Datatables Tabletools addon -->
  <script src="{{@BASE}}/ui/views/admin/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>

  <!-- Datatables Editor addon - READ LICENSING NOT MIT  -->
  <script src="{{@BASE}}/ui/views/admin/vendor/plugins/datatables/extensions/Editor/js/dataTables.editor.js"></script>

  <!-- Datatables Bootstrap Modifications  -->
  <script src="{{@BASE}}/ui/views/admin/vendor/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
  <script src="{{@BASE}}/ui/views/admin/vendor/plugins/datatables/extensions/Editor/js/editor.bootstrap.js"></script>

  <!-- Theme Javascript -->
  <script src="{{@BASE}}/ui/views/admin/assets/js/utility/utility.js"></script>
  <script src="{{@BASE}}/ui/views/admin/assets/js/demo/demo.js"></script>
  <script src="{{@BASE}}/ui/views/admin/assets/js/main.js"></script>

  <!-- Xedit JS -->
  <script src="{{@BASE}}/ui/views/admin/vendor/plugins/moment/moment.min.js"></script>
  <!-- Dependency -->
  <script src="{{@BASE}}/ui/views/admin/vendor/plugins/xeditable/js/bootstrap-editable.min.js"></script>
  <script src="{{@BASE}}/ui/views/admin/vendor/plugins/xeditable/inputs/address/address.js"></script>
  <script src="{{@BASE}}/ui/views/admin/vendor/plugins/xeditable/inputs/typeaheadjs/lib/typeahead.js"></script>
  <script src="{{@BASE}}/ui/views/admin/vendor/plugins/xeditable/inputs/typeaheadjs/typeaheadjs.js"></script>

  <script type="text/javascript">
  jQuery(document).ready(function() {

    "use strict";

    // Init Theme Core    
    Core.init();

    // Init Demo JS  
    Demo.init();

		
    });
    //////
    // IN TABLE CONTROLS (EDIT/DELETE) EXAMPLE
    //
      </script>
  <!-- END: PAGE SCRIPTS -->

</body>


<!-- Mirrored from admindesigns.com/demos/absolute/1.1/tables_datatables-editor.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Oct 2015 13:20:05 GMT -->
</html>
