<include href="views/base/header/head.htm"/>
<body>

<include href="views/base/header/nav.htm"/>
<div id="a_main_wrapper">
    <header class="a_header">
	      
        <!--login  Modal -->
		<include href="views/base/header/modal.htm"/>
        <!--main menu section-->
		<include href="views/base/header/burger-menu.htm"/>
        <!--Search  Modal -->
		<include href="views/organizations/banner.htm"/>
        <!--banner section-->
    </header>
   <main class="a_main">
	   <!--listing  section start here-->
        <div class="a_sectionm a_view_section">
            <div class="container">
                <div class="row">
	                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-12">
	                    <div class="a_f_block">
	                        <h4 class="a_h4" style="margin: 30px 0 30px;">Организации</h4>
          
                            <div class="a_authur clearfix">
	                            <repeat group="{{@organizations}}" value="{{@org}}">
	                            <div class="col-xs-12" style="padding: 0; margin-bottom: 30px">
	                            <div class="col-xs-12 col-sm-4" style="padding: 0">
		                            <a href="/counsil/organizations_detail/{{@org.id}}">
	                            	<figure>
	                            		<img class="a_img" src="{{@BASE}}/ui/images/{{@org.opict}}" alt="">
	                            	</figure>
                            	</a>
	                            </div>
	                            <div class="col-xs-12 col-sm-8" style="padding: 0">
                            	<div class="a_author_text" style="padding: 0">
                            		<h4>{{@org.oname}}</h4>
                            		<span><i class="fa fa-user" aria-hidden="true"></i> {{@org.dname}} {{@org.dsname}}</span>
                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> {{@org.odate_created}}</span>
                            		<p class="a_p">{{substr(@org.odesc,0,370).'...';}}</p>
                            	</div>
	                            </div>
	                            </div>
                            </repeat>
                            </div>
                            
                        </div>
                	</div>
<!--
                	<div class="col-xs-12 col-sm-4  col-md-3 col-md-offset-1">
            			<div class="a_sidebar">
            				<h4 class="a_h4" style="margin-top: 30px;">Категории</h4>
            				<ul class="a_list_cat a_categories_list">
	            				<repeat group="{{@org_categories}}" value="{{@oc}}">	
                                	<li><a href="#."><i class="fa fa-chevron-right" aria-hidden="true"></i>{{@oc.cn}}</a></li>
	            				</repeat>
                            </ul>
                            <h4 class="a_h4">Тэги</h4>
                            <div class="a_tags clearfix">
                                <ul class="a_list">
	                                <repeat group="{{@org_categories}}" value="{{@oc}}">	
                                    <li><a href="#.">{{@oc.cn}}</a></li>
	                                </repeat>
                                </ul>
                            </div>
            			</div>
                    </div>
-->
                </div>
            </div>
        </div>        
    </main>
    
    <!--footer start here-->
<include href="views/base/footer/footer.htm"/>
</div>
    <!--Bootstrap core JavaScript-->
    <script src="{{@BASE}}/ui/js/jquery.js"></script>
    <script src="{{@BASE}}/ui/js/bootstrap.min.js"></script>
    <script src="{{@BASE}}/ui/js/custom.js"></script>
</body>
</html>