<include href="views/base/header/head.htm"/>
<body>

<include href="views/base/header/nav.htm"/>
<div id="a_main_wrapper">
    <header class="a_header">
	      
        <!--login  Modal -->
		<include href="views/base/header/modal.htm"/>
        <!--main menu section-->
		<include href="views/base/header/burger-menu.htm"/>
        <!--Search  Modal -->
		<include href="views/commitees/info/banner.htm"/>
        <!--banner section-->
    </header>
       <main class="a_main">
        <div class="a_main_content">
            <div class=" a_section a_faq_section">
	            <div class="container">
                <h4 class="a_h4">О КОМИТЕТЕ</h4>
	                <div class="row">
	                    <div class="col-md-4">
		                    <figure class="a_feature_img">
	            				<img class="a_img" src="{{@BASE}}/ui/images/{{@commitee[0].logo}}" alt="">
	            			</figure>
	                    </div>
	                    <div class="col-md-8">
	                        <div class="tab-content">
	                            <div id="content1" class="tab-pane fade in active">
	                                {{@commitee[0].info|raw}}
	                            </div>

	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
          <div class="a_section a_view_section">
            <div class="container">
                <div class="row">
	                <h4 class="a_h4">РУКОВОДИТЕЛЬ</h4>
	                <div class="col-md-4 col-md-offset-4 col-sm-8">
	                    <div class="a_f_block_team a_list_members">
		                    <repeat group="{{@director}}" value="{{@dir}}">
		                    <div class="a_member">			                   
				                    <img src="{{@BASE}}/ui/images/{{@dir.pphoto}}">
			                    <h4>{{@dir.pname}} {{@dir.psurname}}</h4>
			                    <strong><span>{{@dir.dname}}</span></strong>
			                    <div class="contacts">
				                    <ul class="a_list a_social_icons_members">
					                    <li><a href="{{@dir.pe}}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
				                        <li><a href="{{@dir.pf}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				                        <li><a href="{{@dir.pt}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				                        <li><a href="{{@dir.pv}}"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
				                    </ul>
			                    </div>
		                    </div>
		                    </repeat>
	                    </div>
                	</div>
                </div>
            </div>
        </div>  
        <div class="a_section a_view_section">
            <div class="container">
                <div class="row">
	                <h4 class="a_h4">КОМАНДА</h4>
	                <repeat group="{{@member}}" value="{{@mem}}">
		               <div class="a_member">			              
			              <div class="col-sm-4">
							<div class="a_f_block_team a_list_members">
				                    <img src="{{@BASE}}/ui/images/{{@mem.pphoto}}">
			                    <h4>{{@mem.pname}} {{@mem.psurname}}</h4>
			                    <strong><span>{{@mem.dname}}</span></strong>
			                    <div class="contacts">
				                    <ul class="a_list a_social_icons_members">
					                    <li><a href="{{@mem.pe}}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
				                        <li><a href="{{@mem.pf}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				                        <li><a href="{{@mem.pt}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				                        <li><a href="{{@mem.pv}}"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
				                    </ul>
			                    </div>
		                    </div>
	                    </div>
	                   </div>
	                </repeat>
                </div>
            </div>
        </div>        

    </main>

    <!--footer start here-->
<include href="views/base/footer/footer.htm"/>
</div>
    <!--Bootstrap core JavaScript-->
    <script src="{{@BASE}}/ui/js/jquery.js"></script>
    <script src="{{@BASE}}/ui/js/bootstrap.min.js"></script>
    <script src="{{@BASE}}/ui/js/custom.js"></script>
</body>
</html>